# Node
node_modules/
npm-debug.log

# Environment variables
.env
.env.*

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Traefik
traefik/certs/*
!traefik/certs/.gitkeep

# docker-stack à finir
docker-stack.yml